@font-face {
  font-family: 'Photograph';
  src: url(font/Photograph\ Signature.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;;
}
@font-face {
  font-family: 'Poppins';
  src: url(font/Poppins-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;;
}
@font-face {
  font-family: 'Alterday';
  src: url(font/Alterday.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mayonice';
  src: url(font/Mayonice.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica';
  src: url(font/Coolvetica\ Rg.otf) format('opentype');
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'Baret';
  src: url(font/Barett\ Street.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* diperbaiki dari 'cover' jadi 'border-box' */
}

/*body*/
body {
  background: linear-gradient(180deg, #f5f5f2,#e2e2dd);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER + NAV */
header {
  background-color: transparent;
  padding: 15px 40px;
  color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Photograph';
  font-size: 40px;
  margin: 0;
  margin-left: 60px;
  font-weight: 300;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-right: 60px;
}

nav ul li a {
  text-decoration: none;
  color:#2b2b2b;
  padding: 8px 20px;
  font-size: 18px;
  font-family: 'Coolvetica';
  background-image: linear-gradient(#2b2b2b, #2b2b2b);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .25s ease;
}

nav ul li a:hover {
  background-size: 100% 2px;
}

/* judul */
p {
  text-align: left;
  margin: 30px; 
  margin-left: 120px;
  font-size: 3rem;
  font-family: 'coolvetica';
  font-weight: 900;
  letter-spacing: 3px;
  color: #2b2b2b;
}


/* ==== FOTO VERTICAL ==== */
.wrap1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: transparent;
}

.item {
  position: relative;
  width: 250px;
  overflow: hidden;
  border-radius: 20px; /* sudut halus di semua sisi */
  cursor: pointer;
}

.item img {
  width: 100%;
  display: block;
  transition: 0.4s;
  border-radius: 30px; /* biar wadah yang membentuk lengkung */
}

/* ==== FOTO LANDSCAPE ==== */
.wrap2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}

.item1 {
  position: relative;
  width: 430px;
  overflow: hidden;
  border-radius: 30px;
  cursor: pointer;
}

.item1 img {
  width: 100%;
  display: block;
  transition: 0.4s;
  border-radius: 30px;
}

/* ==== CAPTION / TEKS DI ATAS FOTO ==== */
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  font-size: 1em;
}

/* ==== EFEK HOVER ==== */
.item:hover img,
.item1:hover img {
  filter: blur(1px) brightness(0.5);
  transform: scale(1.25);
  
}

.item:hover .caption,
.item1:hover .caption {
  opacity: 1;
}