/* FONT IMPORT */
@font-face {
  font-family: 'Photograph';
  src: url(font/Photograph\ Signature.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;;
}
@font-face {
  font-family: 'Poppins';
  src: url(font/Poppins-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;;
}
@font-face {
  font-family: 'Alterday';
  src: url(font/Alterday.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mayonice';
  src: url(font/Mayonice.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica';
  src: url(font/Coolvetica\ Rg.otf) format('opentype');
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'Baret';
  src: url(font/Barett\ Street.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url(font/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* GENERAL STYLE */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,#2c333e,#041125);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  color: white;
}

/* HEADER + NAV */
header {
  background-color: transparent;
  padding: 15px 40px;
  color: #F1F0E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Photograph';
  font-size: 40px;
  margin: 0;
  margin-left: 60px;
  font-weight: 300;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-right: 60px;
}

nav ul li a {
  text-decoration: none;
  color:#F1F0E4;
  padding: 8px 20px;
  font-size: 18px;
  font-family: 'Coolvetica';
  background-image: linear-gradient(#F1F0E4, #F1F0E4);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .25s ease;
}

nav ul li a:hover {
  background-size: 100% 2px;
}

.judul {
  padding: 20px;
}

.abu {
  text-align: center;
  margin: 0; 
  font-size: 60px;
  font-family: 'coolvetica';
  font-weight: 900;
  letter-spacing: 3px;
  color: #F1F0E4;
}

.buba {
  margin:0px; 
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 900;
  letter-spacing: 1px;
  color: #F1F0E4;
  text-align: center;
  
}

.software-list {
  margin: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  padding: 20px;
  background: transparent;
  padding-bottom: 30vh;
}


/* ITEM */
.software-item {
  background: rgba(255,255,255,0.18);
  display: flex;
  align-items: center;
  gap: 15px;
  width: auto;
  height: 80px;
  padding: 15px;
  border-radius: 15px;
}

/* LOGO (IMAGE) */
.logo-box {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  padding: 5px;
}
